<div id="kitchenHub">
    <p class="header">Kitchen Hub</p>

    <div id="kitchenDutyPeople">
        <div id="kitDutyPerson1">
            <img src="~/Images/ProfilePic1.png" />
            <p class="profileText">Orlando Rodriguez</p>
        </div>

        <div id="kitDutyPerson2">
            <img src="~/Images/ProfilePic2.png" />
            <p class="profileText">Frank Vincench</p>
        </div>
    </div>

    <div id="starPower">
        <p id="ratingText">Rating: (Current rating: ??/5.0)</p>
        <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
    </div>

    <p id="kitHubPrevious">View previous posts</p>

    <p id="kitHubComments">View comments</p>
</div>

<script>

</script>