body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse
{
    background-color: #104A73;
}

.navbar-inverse .navbar-brand
{
    color: white;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
}

html, body
{
    height: 100%;
    padding-bottom: 0px;
}

.container
{
    width: 100%;
    max-width:100%;
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 0px;
}

.mainContainer
{
    height: 100%;
}

.subMenuContainer
{
    text-align: center;
    float: left;
    width: 12%;
    height: 100%;    
    border-right: solid;
    border-color: black;
}

.header
{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

.contentContainer
{
    display:inline-block;
    width: 88%;
    height: 100%;
}

#kitchenHub
{
    position: fixed;
    display:inline;
    float: right;
    right: 0px;
    width: 30%;
    height: 90%;
    border-left: solid;
    border-bottom: solid;
    border-color: black;
}

#kitDutyPerson1
{
    text-align: center;
}

#kitDutyPerson2
{
    margin-top: 10px;
    margin-right: 25px;
    text-align: center;
}

#starPower
{
    margin-top: 50px;
    text-align: center;
}

#ratingText
{
    font-weight: bold;
    font-size: 16px;
}

#kitchenDutyPeople
{
    margin-top: 50px;
}

.profileText
{
    display: inline;
    font-weight: bold;
    font-size: 18px;
}

#kitHubComments:hover
{
    text-decoration: underline;
    cursor: pointer;
}

#kitHubComments
{ 
    position: absolute;
    bottom: 0;
    right: 10px;
}

/*.rating {
  font-size: 35px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   color: yellow;
   position: absolute;
   cursor: pointer;
}*/

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 250px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-image: url('../Images/gray.png');
    background-size: contain;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background-image: url('../Images/gold.png');
    background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

#kitHubPrevious:hover
{
    text-decoration: underline;
    cursor: pointer;
}

#kitHubPrevious 
{
    color: blue;
}

#previousLink
{
    margin-top: 30px;
    text-align: center;
}

#kitDutyTitleLabel
{
    text-align: center;
    font-weight: bold;
}

#inventoryList1
{
   width: 200px;
   margin-left: 220px;
   text-align: left;
}

.inventoryItem
{
    display:inline-block;
}

.inventoryItem > p
{
    float: left;
}

#mainInventoryList
{
    margin-top: 30px;
    text-align: center;
}