@{
    ViewBag.Title = "Home Page";
}

<div class="subMenuContainer">
    <p class="header">Channels</p>
</div>  

<div class="contentContainer">
    @Html.Partial("~/Views/Home/_HomePartials/_kitchenHub.cshtml")
</div>