
@{
    ViewBag.Title = "Previous posts";
}

<div class="contentContainer">
    Previous posts page
    <div id="kitchenHub">
        @Html.Partial("~/Views/Home/_HomePartials/_kitchenHub.cshtml")
    </div>
</div>